<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Dylan Tobia</title>
    <!--bower:css-->
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css' />
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/main.css">
    <!--endinject-->


    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>


</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

<!-- Menu -->
<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="index.ejs#home">About</a></h1>
        <i class="icon-remove menu-close"></i>
        <a href="/" class="smoothScroll">Home</a>
        <a href="#about" class="smoothScroll">About</a>
        <a href="/projects" class="smoothScroll">Projects</a>
        <a href="/contact" class="smoothScroll">Contact</a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i id="toggleIcon" class="fa fa-caret-left"></i></div>
</nav>


<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="/images/logo.png"><!-- TODO: change this -->
        </div>
        <br>
        <div class="row">
            <h1>Dylan Tobia</h1>
            <br>
            <h3>Software Engineer</h3>
            <div class="col-lg-6 col-lg-offset-3">
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /headerwrap -->


<!-- ========== ABOUT SECTION ========== -->
<section id="about" name="about"></section>
<div id="f">
    <div class="container">
        <div class="row">
            <h3>ABOUT ME</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i
                        class="icon icon-circle"></i></p>

            <!-- INTRO INFORMATIO-->
            <div class="col-lg-6 col-lg-offset-3">
                <p>Dylan Tobia is a full time University of Arizona Computer Science major, with
                    experience working in the field. He has knowledge of web-development, Java, and other languages. He
                    loves to
                    create new products, and hopes to someday create a product that really makes a difference. A
                    quick learner, who always takes the time needed to understand a new technology, he love to learn as
                    often as possible.</p>

                <p>Dylan spent most of his young life playing semi-professional dodgeball. After making a name for
                    himself as a great catcher on the court, he decided to really focus on his future.
                    While taking a game design class at his community college, he was introduced to programming. He
                    immediately fell in love with the ability to make something new with just a few keystrokes on a
                    keyboard.
                    He enrolled in the computer science program at his community college, acquired his
                    Associate's degree, and now works towards his Bachelor's at the University of Arizona, with a
                    Master's degree in mind afterwards.</p>
                <p>His <a href="https://github.com/djtobia">Github</a></p>
                <p>His <a href="https://www.linkedin.com/in/dylan-tobia-179508126">Linked In</a></p>
                <p>Dylan is always looking for new opportunities.</p>
                <p>
                    <a href="/contact">
                        <button type="button" class="btn btn-warning">Contact</button>
                    </a>
                </p>
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /f -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--bower:js-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/lib/angular/angular.js"></script>
<!--endbower-->


<!--inject:js-->
<script src="/js/classie.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/insertProjectApp.js"></script>
<script src="/js/main.js"></script>
<script src="/js/smoothscroll.js"></script>
<!--endinject-->


</body>
</html>
