<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contact</title>
    <!--bower:css-->
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css' />
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/main.css">
    <!--endinject-->


    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
        (function(){
            emailjs.init("user_bMhU28xa1T0bBT1EfG7Ad");
        })();
    </script>

</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu" ng-app="contactApp" ng-controller="contactController">

<!-- Menu -->
<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="#home" class="smoothScroll">Contact Me</a></h1>
        <i class="icon-remove menu-close"></i>
        <a href="/" class="smoothScroll">Home</a>
        <a href="/about" class="smoothScroll">About</a>
        <a href="/projects" class="smoothScroll">Projects</a>
        <a href="/contact" class="smoothScroll">Contact</a>
        <a href=<%= user ? "/auth/logout" : "/auth/login" %>><%= user ? "Logout" : "Login" %></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i id="toggleIcon" class="fa fa-caret-left"></i></div>
</nav>


<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
        <br>
        <div class="row">
            <h1>Dylan Tobia</h1>
            <br>
            <h3>Software Engineer</h3>
            <div class="col-lg-6 col-lg-offset-3">
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /headerwrap -->


<!-- ========== CONTACT SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
    <div class="container">
        <div class="row">
            <h3>CONTACT ME</h3>
            <div ng-if="!emailSent">
                <form name="contactForm">
                    Email: <input type="email" class="form-control" ng-model="userInfo.email" placeholder="Email" required/><br/>
                    Name: <input type="text" class="form-control" ng-model="userInfo.name" placeholder="Name" required/> <br/>
                    Content: <textarea class="form-control" ng-model="userInfo.content"
                                       placeholder="Enter your message here"
                                       required></textarea><br/>
                    <!--<div class="g-recaptcha" data-sitekey="6Lc3hiwUAAAAANO74MshSxO8PlE15ha2zK7uZCa5"></div>--><!-- un comment for captcah functionality-->
                    <br/>
                    <button class="btn btn-warning" ng-click="sendEmail(contactForm)">Contact Me</button>
                </form>
                <h2>{{errorMessage}}</h2>
            </div>
            <div class="row" ng-if="emailSent">
                <h2>{{emailSentMessage}}</h2>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--bower:js-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/lib/angular/angular.js"></script>
<!--endbower-->


<!--inject:js-->
<script src="/js/classie.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/insertProjectApp.js"></script>
<script src="/js/main.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/userApp.js"></script>
<!--endinject-->


</body>
</html>
