<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Project</title>
    <script src="/lib/angular/angular.min.js"></script>

    <script src="/js/insertProjectApp.js"></script>

</head>
<body ng-app="insertProjectApp" ng-controller="insertController">
<form name="projectForm">
Project Name: <input type="text" ng-model="projectName" required> <br />
Short Description: <input type='text' ng-model="shortDesc" required> <br />
Long Description: <input type="text" ng-model="longDesc" required><br/>
Github Link : <input type="text" ng-model="githubLink" required> <br />
Image File Name (If applicable) : <input type="text" ng-model="imageFileName"> <br />

<button ng-click="postToServer(projectForm)">Add Project</button>
</form>
<p>{{errorMessage}}</p>
</body>
</html>